{% from '../macros/renderNavItem.njk' import renderNavItem with context %}

<div>
  <a href="#navigation"
    class="transition right-0 bg-primary text-bg dark:bg-bg-menu-dark absolute p-3 m-2 -translate-y-16 focus:translate-y-12">Skip to navigation</a>
  <a href="#maincontent"
    class="transition right-0 bg-primary text-bg dark:bg-bg-menu-dark absolute p-3 m-2 -translate-y-16 focus:translate-y-12">Skip to main content</a>
</div>

<div class="transition absolute right-0 p-2 translate-y-0"> 
	<form action="https://duckduckgo.com/" method="post" class="group/search min-h-2.5"><!-- min-height to reduce CLS -->
		<label>
			<span class="sr-only">Search for:</span>
			<input placeholder="Search" type="search" id="search" name="q" autocomplete="off" class="duration-300 ease-in-out bg-note-bg rounded-xl p-2 w-20 mr-1 group-focus-within/search:max-w-[calc(90vw-50px)] group-focus-within/search:w-150 group-focus-within/search:mt-20" />
		</label>
		<input type="hidden" name="sites" value="aloxe.github.io/huwindty/" />
		<button type="submit" class="duration-300 ease-in-out rounded-3xl p-2 invisible group-focus-within/search:mt-20 group-focus-within/search:inline-block w-0 group-focus-within/search:visible group-focus-within/search:w-10 group-focus-within/search:bg-note-bg
    ">
    <span class="sr-only">Search</span> 🔎 </button>
	</form>
</div>

<nav class="w-full bg-primary text-bg dark:bg-bg-menu-dark text-xl md:flex-shrink-0" id="navigation">
  {% set allEntries = collections.all %}
  <div class="float-left">
    <a href="/" {% if entry.url == "/" %} aria-current="page" {% endif %}
    class="block p-4 text-nowrap hover:text-bg-hover"
    >ॐ<span class="hidden md:inline"> sweet home</span></a> 
  </div>
  <input id="hamburger" type="checkbox" name="hamburger" 
    class="md:hidden sr-only peer" 
    unchecked aria-label="menu" 
    onkeypress="event.key === 'Enter' && getElementById('hamburger').click()" />
  <label for="hamburger" class="after:float-right after:p-4 after:content-['≡'] peer-checked:after:content-['✕'] md:hidden cursor-pointer after:border-2 after:border-primary after:border-dotted peer-[:focus]:after:border-bg">
    <span class="sr-only">Menu</span>
  </label>
  <ul role="list" class="mt-12 md:mt-0 md:flex hidden peer-checked:block">
    {%- for entry in allEntries %}
      {% if entry.url.split("/").length === 3 %}
        {# 
        length may be different if the site is not directly under the domain 
        → TODO: set length limit based on site base URL
        #}
        {{ renderNavItem(entry) }}
      {% endif %}
    {% endfor %}
  </ul>

</nav>