@import 'tailwindcss';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility mkdn {
  & h2 {
    @apply mt-8 mb-6 text-left text-2xl font-bold leading-tight text-indigo-800;
  }
  & h3 {
    @apply my-4 text-left text-xl font-bold leading-normal text-blue-950;
  }
  & p {
    @apply my-4 text-xl font-light leading-6 text-slate-900;
  }
  & ul {
    @apply my-4 text-xl font-light leading-6 text-slate-900;
  }
  & ol {
    @apply my-4 text-xl font-light leading-6 text-slate-900;
  }
  & ul {
    @apply list-disc;
  }
  & ol {
    @apply list-decimal;
  }
  & li {
    @apply ml-8 mb-2;
  }
  & code {
    @apply text-xl;
  }
  & a {
    @apply text-blue-900 underline underline-offset-2 hover:no-underline;
  }
  & .note {
    @apply text-cyan-900 bg-sky-200 border p-4 border-cyan-900 border-l-8
    before:content-['ⓘ_Note:_'] before:font-bold;
  }
}

@utility note {
  .mkdn & {
    @apply text-cyan-900 bg-sky-200 border p-4 border-cyan-900 border-l-8
    before:content-['ⓘ_Note:_'] before:font-bold;
  }
}

/* Markdown style
see: https://aloxe.github.io/huwindty/documentation/styles/
other solution for markdown styling
read: https://dev.to/matthewtole/eleventy-markdown-and-tailwind-css-14f8
*/

